<footer class="footer pt-5 mt-5">
  <div class="container">
    <div class="row">
      <div class="col-md-3 mb-4 ms-auto">
        <div>
          <a href="#">
            <img src="{{ ASSETS_ROOT }}/media/mmello_logo_site_horizontal_png.png" alt="main_logo">
            <img src="{{ ASSETS_ROOT }}/media/abracelogobranca.png" alt="Image description" width="141" height="71">
            <img src="{{ ASSETS_ROOT }}/media/aaaa.png" alt="Image description" width="141" height="71">
          </a>
        </div>
      </div>
      <div class="col-md-2 col-sm-6 col-6">
        <div>
          <a href="/about-us.html" class="text-sm" style="color: #ebebeb;"><h6 style="color: #ebebeb;">Team</h6></a>
        </div>
      </div>
      <div class="col-md-2 col-sm-6 col-6">
        <div>
          <a href="/gallery.html" class="text-sm" style="color: #ebebeb;"><h6 style="color: #ebebeb;">Gallery</h6></a>
        </div>
      </div>
      <div class="col-md-2 col-sm-6 col-6" >
        <div>
          <a href="/recentlyasked.html" class="text-sm" style="color: #ebebeb;"><h6 style="color: #ebebeb;">Q&A</h6></a>
        </div>
      </div>
      <div class="col-md-2 col-sm-6 col-6 me-auto">
        <div>
          <a href="/contact-us.html" class="text-sm" style="color: #ebebeb;"><h6 style="color: #ebebeb;">Contact us</h6></a>
        </div>
      </div>
      <div class="col-12">
        <div class="text-center">
          <p class="text-dark my-4 text-sm font-weight-normal" style="color: #ebebeb;">
            <a href="/index.html" style="color: #ebebeb;">© MMello</a><a href ="https://github.com/XAEXVI"style="color: #ebebeb;">- Coded By Reinelt</a>
          </p>
        </div>
      </div>
    </div>
  </div>
</footer>
