<footer class="footer pt-5 mt-5">
  <div class="container">
    <div class=" row">
      <div class="col-md-3 mb-4 ms-auto">
        <div>
            <img src="{{ ASSETS_ROOT }}/img/imgsm/mmello_logo_site_horizontal_png.png" alt="main_logo">
            <img src="{{ ASSETS_ROOT }}/img/imgsm/abracelogocinza.png" alt="Image description" width="141" height="71">
          </a>
        </div>
      </div>
      <div class="col-md-2 col-sm-6 col-6">
        <div>
          <a href="/author.html" class="text-sm"><h6>Mission</h6></a>
        </div>
      </div>
      <div class="col-md-2 col-sm-6 col-6">
        <div>
          <a href="/about-us.html" class="text-sm"><h6>Team</h6></a>
        </div>
      </div>
      <div class="col-md-2 col-sm-6 col-6">
        <div>
          <a href="https://example.com" class="text-sm"><h6>Gallery</h6></a>
        </div>
      </div>
      <div class="col-md-2 col-sm-6 col-6 me-auto">
        <div>
          <a href="https://example.com" class="text-sm"><h6>Contact us</h6></a>
        </div>
      </div>
      
      <div class="col-12">
        <div class="text-center">
          <p class="text-dark my-4 text-sm font-weight-normal">
            &copy; <a href="https://bit.ly/3fKQZaL" target="_blank">MMello</a> - Coded By Reinelt
          </p>
        </div>
      </div>
    </div>
  </div>
</footer>