{% extends "layouts/base.html" %}

{% block title %} About US {% endblock %} 

{% block body_class %} about-us {% endblock %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

  {% include 'includes/navigation-transparent.html' %}

  <header class="bg-gradient-dark">
    <div class="page-header min-vh-75" style="background-image: url('{{ ASSETS_ROOT }}/img/imgsm/1f3f2942fd2d971f225d127a74abf659.jpg');">
      <span class="mask bg-gradient-dark opacity-6"></span>
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-lg-8 text-center mx-auto my-auto">
            <h1 class="text-white">The N°1 Question</h1>
            <p class="lead mb-4 text-white opacity-8">What is Napa/Bagum?<br> Check bellow</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </header>

  <div class="card card-body shadow-xl mx-3 mx-md-4 mt-n6">
    <!-- Section with four info areas left & one card right with image and waves -->
    <section class="py-7">
      <div class="container">
        <h5>The most common question posed by our overseas clients is, "What is this napa (synthetic leather) mentioned in the construction description you provided?" Despite the appearance in the stand picture above, the walls have not received painting; they are covered with napa, a synthetic leather commonly used for wrapping stand walls in Brazil.</h5><br>

        <h5>There are numerous advantages to using Napa in this context:</h5>
          <p>
            - A wide range of colors is available, including woody and shiny options.<br>

            - It proves more cost-effective than hiring a painter and using tints.<br>

            - Cleaning is effortless, and the setup maintains a cleaner appearance without the need for paintings.<br>

            - The installation process is faster as it is stapled onto the wood walls from behind.<br>

            - Napa eliminates the need for the retouch stage.<br>
        </p>
            
        <h5>However, the quality of the finishing largely depends on the expertise of the professional installing it and the standard of quality offered by the hired constructor.</h5>
        <p>The napa rolls come with stripes and are available in a specific size of 1.40 x 5.00 meters in the Brazilian market. When covering extensive walls or fascia boards, sewing may be necessary to achieve the required dimensions, resulting in a visible seam line in some instances.</p><br>
        <h5>Nevertheless, there are also some disadvantages to consider:</h5> 
        <p>1 - This material cannot be reused.<br>

          2 - It is susceptible to ripping, requiring careful handling.<br>
          
          3 - Achieving an exact Pantone color match is not possible due to the approximation of available colors. In such cases, we resort to printing a canvas with the desired Pantone color.<br>
        </p> 
        <h5>Despite the drawbacks, bagum proves to be a practical and versatile choice for stand walls in Brazil.</h5>  
      </div>
    </section>
    <!-- -------- END PRE-FOOTER 1 w/ SUBSCRIBE BUTTON AND IMAGE ------- -->
  </div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}

  <script>
    // get the element to animate
    var element = document.getElementById('count-stats');
    var elementHeight = element.clientHeight;

    // listen for scroll event and call animate function

    document.addEventListener('scroll', animate);

    // check if element is in view
    function inView() {
      // get window height
      var windowHeight = window.innerHeight;
      // get number of pixels that the document is scrolled
      var scrollY = window.scrollY || window.pageYOffset;
      // get current scroll position (distance from the top of the page to the bottom of the current viewport)
      var scrollPosition = scrollY + windowHeight;
      // get element position (distance from the top of the page to the bottom of the element)
      var elementPosition = element.getBoundingClientRect().top + scrollY + elementHeight;

      // is scroll position greater than element position? (is element in view?)
      if (scrollPosition > elementPosition) {
        return true;
      }

      return false;
    }

    var animateComplete = true;
    // animate element when it is in view
    function animate() {

      // is element in view?
      if (inView()) {
        if (animateComplete) {
          if (document.getElementById('state1')) {
            const countUp = new CountUp('state1', document.getElementById("state1").getAttribute("countTo"));
            if (!countUp.error) {
              countUp.start();
            } else {
              console.error(countUp.error);
            }
          }
          if (document.getElementById('state2')) {
            const countUp1 = new CountUp('state2', document.getElementById("state2").getAttribute("countTo"));
            if (!countUp1.error) {
              countUp1.start();
            } else {
              console.error(countUp1.error);
            }
          }
          if (document.getElementById('state3')) {
            const countUp2 = new CountUp('state3', document.getElementById("state3").getAttribute("countTo"));
            if (!countUp2.error) {
              countUp2.start();
            } else {
              console.error(countUp2.error);
            };
          }
          animateComplete = false;
        }
      }
    }

    if (document.getElementById('typed')) {
      var typed = new Typed("#typed", {
        stringsElement: '#typed-strings',
        typeSpeed: 90,
        backSpeed: 90,
        backDelay: 200,
        startDelay: 500,
        loop: true
      });
    }
  </script>

  <script>
    if (document.getElementsByClassName('page-header')) {
      window.onscroll = debounce(function() {
        var scrollPosition = window.pageYOffset;
        var bgParallax = document.querySelector('.page-header');
        var oVal = (window.scrollY / 3);
        bgParallax.style.transform = 'translate3d(0,' + oVal + 'px,0)';
      }, 6);
    }
  </script>

{% endblock javascripts %}